.navbar {
    display: flex;
    /* border: 1px solid red; */
    margin-bottom: 3%;

}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    font-size: medium;
}

.profile img {
    height: auto;
    margin: auto;
}

.profile {
    margin: auto;


}

.other-employee {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 85%;
    margin-top: 3%;

}

footer {
    background-color: black;
    margin-top: 3%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.footer-section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-mission div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: 1px solid red; */
}

.our-mission {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 20px;
    margin: auto;
    width: 90%;
}

.our-mission-heading {
    width: 20%;
    margin: auto;
}

.mission1,
.mission2,
.mission3 {
    margin-top: 7%;
}

.profile div h1 {
    position: absolute;
    bottom: 45%;
    left: 40%;
    color: white;
    font-size: 45px;
}

@media only screen and (max-width: 600px) {
    .our-mission {
        grid-template-columns: 90%
    }

    footer {
        display: grid;
        grid-template-columns: 90%;
        gap: 8%;
    }

}